diode-workstream/validation-pipeline/daffodil/test_resources/schemas/usndc.da.dfdl.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:daf="urn:ogf:dfdl:2013:imp:daffodil.apache.org:2018:ext">

  <xs:include schemaLocation="org/apache/daffodil/xsd/DFDLGeneralFormat.dfdl.xsd"/>

  <xs:annotation>
    <xs:appinfo source="http://www.ogf.org/dfdl/">
      <dfdl:format ref="GeneralFormat" representation="text" encoding="utf-8" lengthKind="delimited"/>
    </xs:appinfo>
  </xs:annotation>

  <xs:element name="usndc.da.dfdl.xsd">
    <xs:complexType>
      <xs:sequence dfdl:separator="%NL;" dfdl:separatorPosition="postfix">
        <xs:element name="RECORD" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence dfdl:separator="%WSP;">
              <xs:element name="system" type="xs:string" maxOccurs="1"/>
              <xs:element name="station" type="xs:string" maxOccurs="1"/>
              <xs:element name="start_epic_time" type="xs:string" maxOccurs="1"/>
              <xs:element name="end_epic_time" type="xs:string" maxOccurs="1"/>
              <xs:element name="status" type="xs:string" maxOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
